[paths]
source =
  src/middle
  */site-packages/middle

[run]
branch = true
source =
  middle
  tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *benchmarks*
exclude_lines =
  noqa
