graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements-dev.*

include tox.ini .travis.yml appveyor.yml .codacy.yml

exclude .python-version
exclude .venv
exclude .vscode
recursive-exclude .vscode *
exclude Makefile
exclude benchmarks
recursive-exclude benchmarks *
exclude requirements.txt

global-exclude *.py[cod] __pycache__ *.so *.dylib
