graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
include pyproject.toml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements-dev.*

include tox.ini .travis.yml appveyor.yml .codacy.yml

exclude .github
exclude .python-version
exclude .pyup.yml
exclude .venv
exclude .vscode
exclude benchmarks
exclude Makefile
exclude requirements.txt

recursive-exclude .github *
recursive-exclude .vscode *
recursive-exclude benchmarks *

global-exclude *.py[cod] __pycache__ *.so *.dylib
